<div class="user-details">

    <mat-list role="list">
        <mat-list-item class="u-text-aling-center">
            
            <span class="mat-h2">User details</span>
    
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
        
            <span class="mat-h2">Name: </span>
            <span class="mat-h3">Fulano</span>
        
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
        
            <span class="mat-h2">Email: </span>
            <span class="mat-h3">Fulano&#64;gmail.com</span>
        
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
        
            <span class="mat-h2">Phone: </span>
            <span class="mat-h3">(45)9999-4444</span>
        
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
        
            <span class="mat-h2">Address: </span>
            <span class="mat-h3">Bahia Street</span>
        
        </mat-list-item>
        <mat-divider></mat-divider>



        <mat-list-item>
        
            <span class="mat-h2">Active: </span>
            <span class="mat-h3">Yes</span>
        
        </mat-list-item>
        
        <mat-divider></mat-divider>
            







        </mat-list>

       



</div>


