<div class="container">

  <div class="left-container">
    <div class="top-div">
      
      <app-filter (onFilter) = "onFilter($event)"></app-filter>

    </div>

    <div class="main-left-div">

      <app-users-list [usersList]="usersListFiltered" (userSelected) = "showUser($event)"></app-users-list>
      
    </div>
  </div>

  
  <div class="right-div" *ngIf = "IS_STARTED">

    <app-user-details (onCloseClick) = "CloseModal($event)" [User]="UserSelected" *ngIf = "IS_STARTED"></app-user-details>

  </div>


</div>